<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Erreur - Yamakajump</title>

    <!-- icone du site -->
    <!-- <link rel="icon" type="image/png" href="/images/logo/y.png" /> -->

    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/styles.css' />
</head>

<body>

    <!-- Error Content Start -->
    <h1>
        <%= message %>
    </h1>
    <h2>
        <%= error.status %>
    </h2>
    <pre><%= error.stack %></pre>
    <!-- Error Content End -->

</body>

</html>