<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction du Jeu</title>
    <link rel="stylesheet" href="/css/intro.css"> <!-- Chemin relatif à votre fichier CSS -->
</head>
<body>
    <div class="container">
        <img src="/images/intro/bouton_jouer.png" alt="Jouer" class="play-button" onclick="startGame()">
    </div>

    <script>
        function startGame() {
            window.location.href = '/choose';  // Redirige vers la nouvelle page de choix
        }
    </script>
</body>
</html>
